.todoListContainer {
}

.todoContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

.completeBtn {
  width: 40px;
}
.todoContent {
  text-align: center;
  width: 500px;
}

.updateeBtn {
  width: 40px;
}

.deleteBtn {
  width: 40px;
}

.todoCreateContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.todoCreateContainer > form > input {
  width: 300px;
}

::placeholder {
  padding-left: 5px;
}
